:root {
  --opaque: rgba(33, 37, 37, 0.413);
  --radius: 1rem;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  border-radius: var(--radius);
  border: solid 1px var(--brouillard);
  background-color: var(--opaque);
  padding: 2rem;
}

.carousel {
  display: grid;
  gap: 2rem;
  overflow: hidden;
  /*transition: transform 0.5s ease-in-out;*/
}

@media (min-width: 786px) {
  .carousel {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .carousel {
    grid-template-columns: repeat(3, 1fr);
  }
}

.carousel-item {
  max-height: 400px;
  border-radius: var(--radius);
  padding: 2rem;
  border: solid 1px var(--brouillard);
  background-color: var(--opaque);
}

@media screen and (min-width: 768px) {
  .carousel-item{
    max-height: 550px;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-item{
    max-height: 650px;
  }
}

.carousel-item img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--radius);
}

@media (min-width: 768px) {
  .carousel-item img{
    max-height: 200px;
  }
}

.carousel-item h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (min-width: 1045px) {
  .carousel-item h3{
    font-size: 2.5rem;
  }
  
}

.carousel-item p {
  max-height: 100px;
  overflow-y: scroll;
  cursor: initial;
}

@media (min-width: 768px) {
  .carousel-item p{
    max-height: 45%;
  }
}

.carousel-controls {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carousel-button {
  width: 3rem;
  height: 1.5rem;
  transform: scaleX(.5);
  border-radius: 50%;
  background-color: var(--opaque);
  border: solid 1px var(--white);
  margin: 0.5rem;
  transition: transform 0.3s ease;
}

@media screen and (min-width: 786px) {
  .carousel-button {
    width: 2rem;
    height: 1rem;
  }
}

.carousel-button[aria-current="true"] {
  background-color: var(--white);
  transform: scaleX(1);
  border-radius: 100px ;
}