:root {
  --opaque: rgba(33, 37, 37, 0.413);
  --radius: 1rem;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  border-radius: var(--radius);
  border: solid 1px var(--brouillard);
  background-color: var(--opaque);
  padding: 3rem;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 600px;
  gap: 2rem;
  overflow: hidden;
  /*transition: transform 0.5s ease-in-out;*/
}

.carousel-item {
  height: 600px;
  border-radius: var(--radius);
  padding: 2rem;
  border: solid 1px var(--brouillard);
  background-color: var(--opaque);
}
.carousel-item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: var(--radius);
}

.carousel-item h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.carousel-item p {
  max-height: 250px;
  overflow: scroll;
}

.carousel-controls {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-button {
  width: 2rem;
  height: 1rem;
  transform: scaleX(.5);
  border-radius: 50%;
  background-color: var(--opaque);
  border: solid 1px var(--white);
  margin: 0.5rem;
  transition: transform 0.3s ease;
}

.carousel-button[aria-current="true"] {
  background-color: var(--white);
  transform: scaleX(1);
  border-radius: 100px ;
}