:root {
    --regular-color: var(--turquoise);
    --hover-color: var(--white);
    --transparent: #26959326;
    --hover-transparent: #ffffff30;
    --big-cursor-size: 3rem;
    --transition-duration: .5s;
}

.custom-cursor {
    position: fixed;
    width: var(--big-cursor-size);
    aspect-ratio: 1 / 1;
    background: var(--transparent);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    transition: width var(--transition-duration), height var(--transition-duration), background var(--transition-duration), border-color var(--transition-duration);
    border: solid 1px var(--regular-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-cursor .inner-circle {
    width: 20%;
    aspect-ratio: 1 / 1;
    background: var(--regular-color);
    border-radius: 50%;
    transition: width var(--transition-duration), height var(--transition-duration), background var(--transition-duration), border-color var(--transition-duration);
}

.custom-cursor.cursor-hover {
    background: var(--hover-transparent);
    border-color: var(--hover-color);
}

.custom-cursor.cursor-hover .inner-circle {
    background: transparent;
}

.custom-cursor.cursor-hidden {
  opacity: 0;
  pointer-events: none;
}