

.header a, .logo {
  color: var(--ciel);
  text-decoration: none;
}

.header {
  background: var(--nuit);
  color: var(--white);
  padding: 1rem;
}

.header .logo {
  font-size: 1.5rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  align-items: center;
  margin-inline: auto;
}

/* @media (max-width: 750px) {
  .nav {
    display: none;
  }
} */

@media (min-width: 750px) {

    .nav-list {
    display: flex;
    flex-direction: flex;
    gap: 1rem;  
    }

    .nav-list li a::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
        background-color: var(--canard);
        margin-top: 0.1rem;

    }

    .nav-list li a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}


.nav-toogle {
  display: block;
  order: 2;
  width: 2rem;
  height: 2px;
  background-color: var(--white);
  position: relative;
}

.nav-toogle::before,
.nav-toogle::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2px;
  background-color: var(--white);
  transition: transform 0.3s ease;
}

.nav-toogle::before {
  top: -0.5rem;
}
.nav-toogle::after {
  top: 0.5rem;
}

