.home-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.h1{
    text-align: center;
    font-size: 3rem;
    z-index: 100;
    @media(min-width: 750px) {
        font-size: 5rem;
    }
}

.cursor-follow {
    width: 1000px;
    height: 1000px;
    background: radial-gradient(var(--jaquet) 10%, var(--brouillard) 60%, transparent);
    border-radius: 50%;
    position: fixed;
    z-index: -1;
    pointer-events: none;
}