.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1{
    text-align: center;
    font-size: 3rem;
    z-index: 100;
    @media(min-width: 750px) {
        font-size: 5rem;
    }
}

.cursor-follow {
    width: 1000px;
    height: 1000px;
    background: radial-gradient(#146267 3%, #146167df 8%, #146167ae 15%, #1461673e 35%, #14616720 50%, #14616700 75%, transparent);
    border-radius: 50%;
    position: fixed;
    z-index: -1;
    pointer-events: none;
}