main {
    padding-inline: 1rem;
    margin-inline: auto;
}

@media (min-width: 1280px) {
    main {
        max-width: 1280px;
        padding-inline: 0;
    }
}

.h1{
    text-align: center;
    padding-top: 25%;
    font-size: 3rem;
    z-index: 100;
    @media(min-width: 750px) {
        font-size: 5rem;
    }
}

.cursor-follow {
    width: 1000px;
    height: 1000px;
    background: radial-gradient(var(--jaquet) 10%, var(--brouillard) 60%, transparent);
    border-radius: 50%;
    position: fixed;
    z-index: -1;
    pointer-events: none;
    /* Les propriétés left, top, transform sont gérées en JS */
}