@import './css/reset.css';
@import './css/pretzel.css';
@import './css/root.css';
@import './css/cursor.css';
@import './css/header.css';
@import './css/hero.css';
@import './css/carousel.css';

/* Pages styles */

@import './pages/Home/home.css';

body {
    margin: 0;
    background: var(--brouillard);
    color: var(--ciel);
    cursor: none;
}


