@import './css/reset.css';
@import './css/pretzel.css';
@import './css/root.css';
@import './css/header.css';
@import './css/main.css';

body {
    margin: 0;
    background: var(--brouillard);
    color: var(--ciel);
    cursor: none;
}

